<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% load static %}
    <h1>Register super admin</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad possimus facere. Voluptatem consequatur molestiae id pariatur repellendus perferendis maxime repudiandae. Itaque in et molestias ab beatae aut voluptate accusamus.</p>
    <div id="container">
       <button id="button-save" type="submit">generar test user</button>
    </div>
    <script src="{% static 'js/register_test.js' %}"></script>
</body>
</html>